/var/lib/docker/containers/*/*-json.log {
    weekly
    rotate 0
    maxsize 500M
    copytruncate
    compress
    missingok
    nomail
    postrotate
        /usr/bin/find /var/lib/docker/containers/ -name "*-json.log.*" -type f -exec rm {} \;
    endscript
}
